
html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  height: 100%;
  /* background-color: #283593; */
  background-color: #000;
}
.button-container {
  margin-top: 20px; /* Add some top margin */
  display: flex;
  justify-content: center;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}
.body{
  color:#ffff;
}

.heading {
  color: transparent;
  text-align: center;
  margin-top: -10px;
  margin-bottom: 20px; /* Slightly shift upwards */

  font-family: "Arial Black", sans-serif; /* Use a bold font */
  font-weight: bold; /* Ensure text is bold */
  font-size: 40px; /* Adjust font size as needed */
  overflow: hidden; /* Ensures text doesn't overflow when animating */
  background: linear-gradient(
    45deg,
    #004e00,
    #1a6501,
    #018901,
    #42d702,
    #37ff00
  );
  -webkit-background-clip: text; /* Clip the background to the text */
  background-clip: text;
}

header {
  /* background-color: #283593; */
  background-color: #000;
  /* color: #ffff; */
  color: #ffff;
  padding: 20px;
  text-align: center;
  transition: background-color 0.3s ease; /* Smooth transition effect */
}

header img {
  max-width: 100px;
  height: auto;
  margin-bottom: 10px;
  transition: max-width 0.3s ease, transform 0.3s ease; /* Smooth transition effect */
}

header img:hover {
  max-width: 110px; /* Increase size on hover */
  transform: scale(1.05); /* Scale up on hover */
}

.title{
  /* color:#ffff; */
  color:#ffff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
main {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* .speed-test {
  color:#fff;
  text-align: center;
  transition: transform 0.3s ease; 
} */

/* .speed-test:hover {
  transform: scale(1.05); 
} */


.speed-test {
  color: #fff;
  text-align: center;
  transition: transform 0.3s ease; /* Smooth transition effect */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.speed-box {
  /* background-color: #53d13c;  Background color of the speed boxes  */
  background-color: #1e6112;
  padding: 10px; /* Padding around the speed text */
  margin: 10px; /* Margin between speed boxes */
  border-radius: 10px; /* Border radius for rounded corners */
  flex-grow: 1; /* Allow the boxes to grow to fill the available space */
}

.speed-box:hover {
  background-color: #555; /* Change background color on hover */
}

.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

footer {
  /* background-color: #283593; */
  background-color: #000;
  /* color: #fff; */
  color: #ffff;
  padding: 10px;
  text-align: center;
  transition: background-color 0.3s ease; /* Smooth transition effect */
}

.logo {
  max-width: 18%;
  height: auto;
  transition: max-width 0.3s ease, transform 0.3s ease; /* Smooth transition effect */
}

.logo:hover {
  max-width: 320px; /* Increase size on hover */
  transform: scale(1.05); /* Scale up on hover */
}




bodY {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
/* .center {
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000;
} */
.center {
  display: flex;
  justify-content: center;
  align-items: center;
  /* flex-direction: column; Display waves in a column */
  height: auto; /* Adjust height as needed */
  margin-bottom: 20px; /* Add margin below the loading animation */
}
.wave {
  width: 5px;
  height: 75px;
  /* background: linear-gradient(45deg, cyan, #fff); */
  background: linear-gradient(45deg, #1e6112, #fff);
  margin: 10px;
  animation: wave 1s linear infinite;
  border-radius: 20px;

}
.wave:nth-child(2) {
  animation-delay: 0.1s;
}
.wave:nth-child(3) {
  animation-delay: 0.2s;
}
.wave:nth-child(4) {
  animation-delay: 0.3s;
}
.wave:nth-child(5) {
  animation-delay: 0.4s;
}
.wave:nth-child(6) {
  animation-delay: 0.5s;
}
.wave:nth-child(7) {
  animation-delay: 0.6s;
}
.wave:nth-child(8) {
  animation-delay: 0.7s;
}
.wave:nth-child(9) {
  animation-delay: 0.8s;
}
.wave:nth-child(10) {
  animation-delay: 0.9s;
}

@keyframes wave {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

